body {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
}
table {
  border-collapse: collapse;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
}
main {
  display: flex;
  flex-direction: row;
  flex: auto;
}
article {
  flex: 2;
  overflow-y: auto;
}
aside {
  flex: 1;
}
